<div class='container'>
<div class='row'>
	<div class='col-xs-3'>

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>
　　<!-- 部分テンプレートを変数を含めて記載ください！！ -->
		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>
		<!-- 部分テンプレートを変数を含めて記載ください！！ -->

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to (@books.user) do %>
						<%= attachment_image_tag(@books.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @books.user.name %>
						<% end %>
					</td>
					<td><%= link_to @books.title, @books %></td>
					<td><%= @books.body %></td>
					<% if @books.user == current_user %>
					<td><%= link_to "Edit",edit_book_path(@books), class: "btn-sm btn-success edit_book_#{@books.id}" %></td>
					<td><%= link_to "Destroy",@books, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@books.id}" %>
						<% end %>
						<!-- ifを入れて他人のものは編集できないようにしてください！！ -->
					</td>
				</tr>
			</table>

	</div>
</div>
</div>

